<div class="col-md-4">
    <article class="product">
        <p class="productName">{{ product.name }}</p>
        <img src="/uploads/products/{{ product.imageUrl }}">
        <p>{{ product.currency }} {{ product.amount }}</p>
        <input type="button" class="buyButton" value="Comprar">
    </article>
</div>
